<div class="flip-card margin-right borde mt-3 animate__animated animate__fadeIn">
    <div class="flip-card-inner">
        <div class="flip-card-front">
        <div class="card-body">
            <img [src]="img" [ngStyle]="{'width': lenguaje=='Angular+9' ? '': '100%', 'height': lenguaje=='Angular+9' ? '': '100%'}" alt="">
        </div>
        </div>
        <div class="flip-card-back">
            <div>
                <h1>Proyectos En:</h1>
                <span [ngClass]="devuelveBadge(lenguaje) ? clase : ''">{{lenguaje}}</span>
                <p class="descripcion"><b>{{lenguaje}}</b> {{descripcion}}</p>
                <h3><b>¿Querés aprender a programar en {{lenguaje}}?</b></h3>
                <a (click)="irAlCurso()" class="btn btn-success linkcurso mt-5">Realiza este curso y convertite en programador {{lenguaje}}</a>
            </div>
        </div>
    </div>
</div>
