<div class="container mt-1">
    <div class="card text-center">
        <img src="../../../assets/images/errors/Timon_404.jpg" class="img-fluid rounded mr-auto ml-auto d-block t" width="480" height="480">
        <div class="card-body">
            <h1 class="card-title pointer">Ups...</h1>
            <p class="card-body pointer">Parece que esta página no existe o la hice volar <i class="fas fa-bomb"></i></p>
            <button class="btn btn-primary" routerLink="/inicio">Volver al Inicio...</button>
        </div>
    </div>
</div>