.margin-right{
  margin-left: 5%;
  margin-right: 10px;
}
.borde{
  border: #ccc solid 1px;
  border-radius: 1rem;
}

.pointer {
    pointer-events: none;
}

#titulo{
    background-color: black;
    padding: 5%;
    pointer-events: none;
}