<div class="container animate__animated animate__fadeIn">
  <img src="https://i.ibb.co/mTPsHjh/1.png" alt="" width="300" height="300" class="foto">
  <div align="center">
    <h1><b>Juan</b> Dillon</h1>
    <p>Soy programador nacido en Buenos Aires - Argentina, actualmente cursando Administración de Empresas y Sistemas.
      <br> Trabajo en <a href="https://www.ort.edu.ar/" target="_blank">ORT Argentina</a> cómo Programador FullStack Jr.
    </p>
    <hr>
    <h2>¿Querés contactarte conmigo? <br> Rellena este formulario y te escribo.</h2>
    <app-formcontacto></app-formcontacto>
  </div>
</div>
