<div align="center">
    <p class="colorbg font">
        <i class="far fa-copyright"></i> {{year}} <a routerLink="/inicio" class="colorbg cover">Juan Cruz Dillon</a>
    </p>
    <hr class="hrcentrado">
    <a href="https://www.linkedin.com/in/juancruzdillon/" target="_blank"><i class="fab fa-linkedin-in mr-1 colorbg s"></i></a>
    <a href="https://www.instagram.com/juandillon_/" target="_blank"><i class="fab fa-instagram mr-1 colorbg s"></i></a>
    <a href="https://api.whatsapp.com/send?phone=5491164602693&text=Hola%20Juan%20%F0%9F%99%82!%20Quisiera%20contactarte%20porque..." target="_blank"><i class="fab fa-whatsapp mr-1 colorbg s"></i></a>
</div>