<div align="center">
    <p class="colorbg font">
        <i class="far fa-copyright"></i> {{year}} <a routerLink="/inicio" class="colorbg cover">Juan Cruz Dillon</a>
    </p>
    <hr class="hrcentrado">
    <a href="https://www.linkedin.com/in/juancruzdillon/" target="_blank"><i class="fab fa-linkedin-in mr-1 colorbg s"></i></a>
    <a href="https://www.instagram.com/juandillon_/" target="_blank"><i class="fab fa-instagram mr-1 colorbg s"></i></a>
    <a href="https://wa.link/bx59rk" target="_blank"><i class="fab fa-whatsapp mr-1 colorbg s"></i></a>
</div>
